{% extends 'home_base.html' %}
{% block maincontent %}
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

<form class="form-horizontal container-fluid"  action="" method="post">
  {{ form.message }}{{form.error}}
 <div class="form-inline">
 <div class="form-group">
  {% csrf_token %}
  <label for="title">{{ form.title.label }}</label>
  {{ form.title }}
  {{form.title.errors}}
  
  <label for="complete_by">{{ form.complete_by.label}}</label>
  {{ form.complete_by}}
 </div>

</div>
 <div class="form-group">
	<label for="details">{{ form.details.label }}</label>
	{{ form.details }}
 </div>
 <div class="form-group pull-right">
	<button type="submit" class="btn btn-success">Save</button>
 </div>

</form>
</div>

{% endblock %}

{% block tracker %}
{% endblock %}