{% extends 'base.html' %}

{% block container %}
	<script src="/static/datetimepicker/jquery.datetimepicker.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TaskMan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}">Dashboard</a></li>
            
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar sidebar-left">
          <ul class="nav nav-sidebar">
            <li {% if page == 'home' %} class="active" {% endif %}><a href="/home">Tasks<span class="sr-only">(current)</span></a></li>
            <li {% if page == 'create' %} class="active" {% endif %}><a href="{% url 'create' %}">Create New</a></li>
          </ul>
          
        </div>
    {% block maincontent %}{%endblock%}    
		    </div>
        {% block tracker %}
        <div class="col-sm-3 col-md-2 sidebar sidebar-right">
        <ul class="nav nav-sidebar">
        <li><h4>Tracker</h4></li>
        {% for log in logs %}
        <li><span>* </span> {{ log }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
  </div>



<script>
$("#datetimepicker").datetimepicker({format:'d M Y',timepicker:false});
</script>

 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% endblock %}