{% extends 'index_base.html' %}
{% block jumbotron %}

      <div class="jumbotron">
        <h1>TaskMan</h1>
        <p class="lead">This is a Task Management Application for Demo Purpose.</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'register' %}" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Add tasks</h4>
          <p>This application can be used to Add new tasks .</p>

          <h4>Delete Task</h4>
          <p>This application can be used to Delete existing tasks.</p>

          <h4>Mark Complete</h4>
          <p>This application can be used to Mark one or more tasks as Complete or Incomplete</p>
        </div>

        <div class="col-lg-6">
          <h4>Tracks Update</h4>
          <p>This App tracks the user activities such as record creation,deletion,updation</p>

          <h4>Sorting</h4>
          <p>This application provides sorted view of data</p>

          <h4>Many more Features</h4>
          <p>Many more exciting features are inbuilt and many are coming soon.</p>
        </div>
      </div>


{% endblock %}