{% extends 'home_base.html' %}
{% block maincontent %}
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <h2 class="sub-header">Task List</h2>
    <form action="{% url 'updatemultiple' %}" method="POST">
    <div class="form-inline">
      <div class="form-group col-md-offset-9">
        <select name="action" class="form-control col-">
        <option selected >-----</option>
        <option value="DELETE">Delete</option>
        <option value="COMPLETE">Mark Complete</option>
        <option value="INCOMPLETE">Mark Incomplete</option>
        </select>
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Go</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th><a href="{% url 'home' %}?sortby=title&amp;order=asc" id="title_head" >Title</a></th>
            <th><a href="{% url 'home' %}?sortby=status&amp;order=asc" id="status_head">Status</th>
            <th><a href="{% url 'home' %}?sortby=added_date&amp;order=asc" id="added_date_head">Date Added</th>
            <th><a href="{% url 'home' %}?sortby=deadline_date&amp;order=asc" id="deadline_date_head">Complete By</th>
            <th>Mark <input type="checkbox" name="select_all" value="true"></th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.added_date|date:"d M, Y"  }}</td>
            <td>{{ task.deadline_date|date:"d M, Y"  }}</td>
            <td><input type="checkbox" name="task_selected" value="{{ task.id }}"/></td>
          </tr>
          
          {% endfor %}
          </form>
        </tbody>
      </table>
    </div>
  </div>
    {% endblock %}


