@import url('bootstrap.min.css');

@media (min-width: 768px){
.container {
  max-width: 930px;
  }	
}

.dropdown-menu{
	min-width: 200px;
	min-height: 200px;	
}

#login_form div{
	margin:auto;
}

#login_form .form-group{
	margin-top: 1em;
}
#login_form a{
	line-height: 2em;
	text-decoration: none;
}

#registration input[type=submit]{
  width:55.7em;
}
/*---------------------*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    top: 51px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    
  }
}
.sidebar-left{
    left: 0;
	position: fixed;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}
.sidebar-right{

	border-radius: 3px;
	border: 1px solid #eee;
	right:0;
	position: absolute;

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.sidebar-right .nav-sidebar{
margin-left: 0px;
}

.sidebar-right .nav-sidebar li{
	display:inline-block;
	list-style-type: disc;
	font-size: 1.15em;

}
.sidebar-right .nav-sidebar li h4{
	text-decoration: underline;
}


.sidebar-right .nav-sidebar li:first-child{
	left:3em;
}

.sidebar-right .nav-sidebar li span{
	vertical-align: top;
	font-size: 1.5em;
	font-weight: 600;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*--------------*/

.table-responsive thead tr th input{
	vertical-align: top;
  width:17px;
  height:17px;
}
.table-responsive table tbody tr td input{
	margin-left:2.75em;
  width:17px;
  height:17px;
  cursor: pointer;
}